/* hack to make the unwanted type hints disappear */
.py.attribute {
    display: none !important;
}

/* make poroperties full black */
.simple > dt {
    color: #000 !important;
}

.simple > dt > span {
    color: #555 !important;
}